span{
    background-color:rgb(255, 59, 49);
}
.greenText{
    color: rgb(49, 209, 62);
}
#linkModify{
    text-decoration: none;
    color:rgb(138, 103, 255);
}
body{
    background-color: rgb(200, 228, 200);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}